* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Lato, sans-serif;
}

li {
  list-style-type: none;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

$color-1: #fd2d01;
$color-2: #ffd7d7;
$color-3: #4e5166;
