.post-container {
  width: 60%;
  min-height: 250px;
  /* background-color: #ffd7d7; */
  background-color: #facdb1;
  border: 2px black solid;
  border-radius: 10px;
  margin-bottom: 20px;
  position: relative;
  padding: 10px;
}

.post-container button {
  border-radius: 15px;
  background-color: #4e5166;
  color: white;
  border: none;
  padding: 5px 10px;
}

.getPosts-container {
  padding-left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-name-date {
  display: flex;
  justify-content: space-between;
  height: 15%;
  align-items: center;
}

.post-name {
  font-weight: bold;
  font-size: 20px;
}

.post-date {
  font-style: italic;
}

.post-text-img {
  display: flex;
  height: 70%;
}

.post-text-img p {
  width: 60%;
  margin-right: 10px;
}

.post-text-img a {
  width: 40%;
  object-fit: cover;
}

.post-text-img a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post-like-edit {
  display: flex;
  height: 15%;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 10px;
}

.post-like-edit p {
  margin: 0;
}

.post-like-edit svg {
  font-size: 18px;
  margin-right: 10px;
}

.btn-modifier {
  margin-right: 10px;
}

.textarea-edit {
  width: 70%;
}

.btn-valider-img {
  display: flex;
}

.btn-valider {
  margin-right: 10px;
}
